.UserBlock {
  /* position: absolute; */
}

.UserProfileBlock {
  height: 350px;
  background-color: #1F2250;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

.UserProfileWrapper {
  position: absolute;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.UserProfileFlex {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 1600px;
  margin: 0 auto;
  /* background-color: #000; */
}

.UserBlockName {
  font-family: Radiance;
  font-size: 1.6em;
  color: #fefefe;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
}

.UserBlockName h3 {
  padding: 5px 20px 5px 0;
  margin-left: 35px;
  background: #5D6397;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.3);
}

/* .UserBlockImage {
} */

.UserProfileImage {
  background-color: #5D6397;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 2px solid #1e2328;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.UserBlockImage {
  z-index: 1;
  /* background: #000; */
  /* -webkit-clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 99%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 99%, 0% 38%); */
}

.UserBlockImage > div {
  position: relative;
  transform: translateY(25%);
}

.UserBlockImage > div::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  z-index: -1;
  left: -15px;
  top: -15px;
  padding: 16px;
  background-color: #fefefe;
}
