@font-face {
  src: url(../assets/fonts/Constantia.ttf);
  font-family: 'Constantia';
}

@font-face {
  src: url(../assets/fonts/radiance.ttf);
  font-family: 'Radiance';
}

@font-face {
  src: url(../assets/fonts/radiance-semibold.ttf);
  font-family: 'Radiance-Semibold';
}

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
