.main {
  /* background: linear-gradient(to bottom, #FEFEFE  , #ECF0F1); */
  background: rgba(0, 0, 0, 1);
  background-color: #5D6397;
  width: 1520px;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.3),
              inset 0 0 2px rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 1800px) {
  .main {
    width: 80%;
  }
}

.main__bg {
  -webkit-clip-path: polygon(50% 0%, 100% 49%, 100% 100%, 0 100%, 0 50%);
  clip-path: polygon(50% 0%, 100% 49%, 100% 100%, 0 100%, 0 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1F2240;
  height: 500px;
  width: 100%;
  z-index: -1;
}
