.loginForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.3);
  /* background: url(../../../assets/img/bg3.png); */
}

.inputField {
  width: 100%;
  /* background: #000; */
}

.loginForm .inputField {
  flex: 1;
  margin-bottom: 20px;
}

.loginForm .inputField label {
  color: #5D6397;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: Lato;
  text-align: left;
  width: 100%;
}

.loginForm .inputField label input {
  padding: 8px;
  font-size: .9em;
  font-family: Montserrat;
}

#loginInputBtn {
  padding: 8px;
  appearance: none;
  font-family: Radiance-Semibold;
  color: #fefefe;
  border: none;
  background: #383E7A;
  margin: 4px 0;
}

.loginForm a {
  /* text-align: left; */
  color: #383E7A;
  text-decoration: none;
  font-family: Lato;
}

.mensagem-de-erro {
  padding: 8px;
  background-color: #FF7272;
  /* width: 100%; */
  font-size: .8rem;
  text-align: center;
  color: #fefefe;
  margin-top: 16px;
  position: relative;
  opacity: 0;
  display: none;
}

.mensagem-de-erro:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 10px solid #FF7272;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  left: 15%;
  position: absolute;
  bottom: 100%;
}

.separator {
  width: 40%;
  height: 2px;
  border-radius: 50%;
  background: #fefefe;
  display: block;
  margin: 0 auto;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  background: rgba(56, 62, 122, 0.2);
  border-radius: 25px;
}

.social-media img {
  width: 42px;
  height: 42px;
  padding: 4px;
  margin: 4px;
}

@media screen and (max-width: 800px) {
  .loginForm {
    width: 90%;
    border-radius: 0;
  }
}









/* border: 2px solid transparent;
border-image: linear-gradient(45deg, #8581B3, #5D6397);
border-image-slice: 1; */
