.navbar {
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /* position: fixed; */
}

.navbar__list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list div {
  display: flex;
  margin-right: 20px;
}

.navbar__list__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__list__item a {
  color: #fefefe;
  text-decoration: none;
  font-family: Radiance;
  font-size: 1.2em;
  padding: 12px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.navbar__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.navbar__brand img {
  max-width: 60px;
  max-height: 60px;
}

.navbar__brand span {
  font-family: Radiance-Semibold;
  font-size: 1.8em;
  color: #fefefe;
  margin-left: 2px;
}

.navbar__list__item--auth {
  width: 110px;
  background-color: #5D6397;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
  inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.register {
  border-radius: 0 50px 50px 0;
}

.login {
  border-radius: 50px 0 0 50px;
}

.navbar__list__item a:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  color: #fefefe;
}

.trigram {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar__list__item:not(.trigram) {
    display: none;
  }

  .trigram {
    display: flex;
  }
}
